body {
    // background-color: $gray-700;
}

.Carrusel {
    margin-left: 20%;
    width: 28%;

    & span {
        background-color: $dark-shadow;
    }

    &-item {
        display: flex !important;
        flex-direction: row !important;
        gap: 10px;
        max-width: 430px;
    }
}
