$light-gray: #f6f6f6;
$light-smoke: #d9d9d9;
$medium-gray: #928e8e;
$bright-orange: #f89b1c;
$pale-gray: #f2f2f2;
$dark-gray: #333;
$dark-blue: #1c3041;
$teal-blue: #376184;
$steal-blue: #4982b4;
$aqua: #87ceeb;
$apricot: #fbcd8d;
$midnight-blue: #15232b;
$light-steel: #bcc1c5;
$inter: Inter;
$Light-steel-blue: #c0d6df;
$roboto: "Roboto", sans-serif;
$dark-shadow: rgba(0, 0, 0, 0.5);
